using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Linq;
using System.Text;
using System.Windows.Forms;
using System.IO;
using System.Runtime.Serialization;
using System.Runtime.Serialization.Formatters.Binary;

namespace LabVP09
{
    
    public partial class Form1 : Form
    {
        public bool promena;
        public Color boja;
        public String FileName;
        public List<Topce> topcinja;
        public Form1()
        {
            InitializeComponent();
            promena = false;
            boja = Color.Blue;
            topcinja = new List<Topce>();
        }

        private void Form1_MouseDoubleClick(object sender, MouseEventArgs e)
        {
            Topce t = new Topce(e.X, e.Y, 25, boja);
            topcinja.Add(t);
            Invalidate();
            promena = true;
        }

        private void Form1_Paint(object sender, PaintEventArgs e)
        {
            Graphics g=e.Graphics;
            for (int i = 0; i < topcinja.Count; i++)
            {
                topcinja[i].Draw(g);
            }
        }

        private void smeniBojaToolStripMenuItem_Click(object sender, EventArgs e)
        {
            DialogResult rez = colorDialog1.ShowDialog();
            if (rez == System.Windows.Forms.DialogResult.OK)
            {
                boja=colorDialog1.Color;
            }
        }

        private void saveToolStripMenuItem_Click(object sender, EventArgs e)
        {
            Save();
        }
        public void Open()
        {
            OpenFileDialog openFileDialog = new OpenFileDialog();
            openFileDialog.Filter = "Balloons doc file (*.topka)|*.topka";
            openFileDialog.Title = "Open balloons file";
            if (openFileDialog.ShowDialog() == DialogResult.OK)
            {
                FileName = openFileDialog.FileName;
                try
                {
                    using (FileStream fileStream = new FileStream(FileName, FileMode.Open))
                    {
                        IFormatter formater = new BinaryFormatter();
                        topcinja = (List<Topce>)formater.Deserialize(fileStream);
                        
                    }
                }
                catch (Exception ex)
                {
                    MessageBox.Show("Could not read file: " + FileName);
                    FileName = null;
                    return;
                }
                Invalidate(true);
            }
            promena = false;
        }
        public void Save()
        {
            
                SaveFileDialog zacuvaj = new SaveFileDialog();
                zacuvaj.Filter = "Zacuvaj programa(*.topka)|*.topka";
                zacuvaj.Title = "Zacuvaj programa";
                if (zacuvaj.ShowDialog() == DialogResult.OK)
                {
                    FileName = zacuvaj.FileName;
                    using (FileStream fileStream = new FileStream(FileName, FileMode.Create))
                    {
                        IFormatter formatter = new BinaryFormatter();
                        formatter.Serialize(fileStream, topcinja);
                    }
                }
           
                
            

        }

        private void openToolStripMenuItem_Click(object sender, EventArgs e)
        {
            Open();
        }

        private void toolStripButton1_Click(object sender, EventArgs e)
        {
            DialogResult rez = colorDialog1.ShowDialog();
            if (rez == System.Windows.Forms.DialogResult.OK)
            {
                boja = colorDialog1.Color;
            }
        }

        private void toolStripButton2_Click(object sender, EventArgs e)
        {
            Save();
        }

        private void toolStripButton3_Click(object sender, EventArgs e)
        {
            Open();
        }

        private void Form1_FormClosing(object sender, FormClosingEventArgs e)
        {
            if (promena == true)
            {
                DialogResult rez = new DialogResult();
                rez = MessageBox.Show("Dali sakas da ja zacuvas promenata?", "Zacuvaj?", MessageBoxButtons.YesNo, MessageBoxIcon.Question);
                if (rez == DialogResult.Yes)
                {
                    Save();
                }
                else
                {
                    this.Close();
                }
            }
            
        }

    }
}
